{
  "presets": [
    ["env",
    {
      "targets": {
        "node": "current",
      }
    }],
    "stage-0"],
  "plugins": [
    "transform-decorators-legacy",
    "add-module-exports",
    ["module-resolver", {
      "root": ["./src"],
    }]
  ]
}
