<div class="about">

  <div class="about__close js-about__close"></div>

  <div class="about__text">
    <div class="js-about__title about__title">ABOUT</div>
    <div class="js-about__body about__body">
      Hi everyone!
      I'm Mathis Biabiany, a creative technologist currently fighting the Amsterdam's winters at <a href="http://resn.co.nz/" target ="_blank">Resn</a>.
      I’m passionate about the realisation of interactive digital effects providing cool sensations to the user. I like to work on installations, physical projects or websites with a nice experience.
      Click <a href="/resume.pdf" target="_blank">here</a> if you want to know more about me ;).
    </div>
    <div class="js-about__title about__title">RECOGNITIONS</div>
    <div class="js-about__body about__body">
      <ul class="about__list">
        <li>Awwwards x7</li>
        <li>FWAs x9</li>
        <li>CSS Design Awards x5</li>
      </ul>
    </div>
  </div>
</div>
