.title {
  display: none;
  font-size: 3rem;
  color: white;
  position: absolute;
  left: 5.3rem;
  top: 6rem;
  line-height: 3.2rem;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s ease-out;
  will-change: opacity;

  &:hover {
    opacity: 1;
  }
}

  .title__job {
    font-size: 1.3rem;
  }
