.title {
  display: none;
  font-size: 3rem;
  color: white;
  position: absolute;
  left: 5.3rem;
  top: 6rem;
  line-height: 3.2rem;
  cursor: pointer;
}

  .title__job {
    font-size: 1.3rem;
  }
