@import '~stylesheets/common/global-imports';

.project__view {
  background: black;
  position: absolute;
  left: 0;
  top: 0;
  // width: 100%;
  min-height: 100vh;
  z-index: $zindex-1;
  color: white;
  display: none;
  opacity: 0;
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
}

  .project__close {
    position: fixed;
    right: 4rem;
    top: 1rem;
    z-index: $zindex-1;
  }

  .project__loading {
    position: fixed;
    left: 0;
    top: 0;
    z-index: $zindex-1;
    width: 100%;
    height: 10px;
    background-color: white;
  }

  // .project__back {
  //   position: fixed;
  //   left: 50%;
  //   bottom: 5vh;
  //   z-index: $zindex-3;
  //   transform: translateX(-50%);
  //   display: none;
  //   opacity: 0;
  //   font-size: 2rem;
  //   cursor: pointer;
  //
  //   &:hover {
  //     opacity: 1 !important;
  //   }
  // }

  .project__aside {
    font-size: 1.4rem;
    position: relative;
    z-index: $zindex-2;
  }

    .project__date {
      position: fixed;
      left: 8%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%) rotate(-90deg);
      white-space: nowrap;

      a {
        color: white;
        text-decoration: none;
        opacity: 0.5;
        transition: opacity 0.2s ease-out;

        &:hover {
          opacity: 1;
        }
      }
    }

    .project__link {
      position: fixed;
      left: 92%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%) rotate(90deg);
      white-space: nowrap;

      a {
        text-decoration: none;
        color: white;
      }
    }

  .project__viewText {
    margin: 14rem auto 4.2rem;
    max-width: 70%;
    padding-bottom: 6.8rem;
    position: relative;
    text-align: center;

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 4px 0 4px;
      border-color: #ffffff transparent transparent transparent;
      left: 50%;
      bottom: 0;
      margin-left: -2px;
    }
  }

    .project__viewTitle {
      text-transform: uppercase;
      color: black;
      text-shadow: 1px 0px 0px #fff, -1px 0px 0px #fff, 0px -1px 0px #fff, 0px 1px 0px #fff;
      font-size: 3rem;
      line-height: 4rem;
    }

    .project__viewDescription {
      font-size: 1.3rem;
      margin: 5rem auto;
      max-width: 82%;

      a {
        color: white;
        text-decoration: none;
        opacity: 0.5;
        transition: opacity 0.2s ease-out;

        &:hover {
          opacity: 1;
        }
      }
    }

    .project__viewColumns {
      @include font-about();
      max-width: 69%;
      margin: 0 auto;
    }

      .project__viewColumn {
        margin-bottom: 3rem;
        text-align: center;
        font-size: 1.2rem;
        letter-spacing: 0.3rem;
        line-height: 1.5;

        a {
          color: white;
          text-decoration: none;
          opacity: 0.5;
          transition: opacity 0.2s ease-out;

          &:hover {
            opacity: 1;
          }
        }
      }

        .project__ViewColumnHead {
          margin-bottom: 0.5rem;
          font-size: 1.3rem;
        }

  .project__viewImg,
  .project__viewVideo {
    display: block;
    width: 66%;
    margin: 0 auto 5rem;
  }

.project__medias {
  display: none;
  opacity: 0;
}
