<div class="project__view">

  <div class="js-project__close project__close"></div>
  <div class="js-project__loading project__loading"></div>
  <div class="js-project__back project__back">Close project</div>

  <div class="project__aside">
    <div class="js-project__date project__date"></div>
    <div class="js-project__link project__link"></div>
  </div>

  <div class="js-project__viewText project__viewText">
    <div class="js-project__viewTitle project__viewTitle"></div>
    <div class="js-project__viewDescription project__viewDescription"></div>
    <div class="js-project__viewColumns project__viewColumns"></div>
  </div>

  <div class="js-project__medias project__medias"></div>

</div>
