@charset "utf-8";

@import "common/normalize";
@import "common/fontface";
@import "common/fonts";

html {
  font-size: 62.5%;

  body {
    overflow: hidden;
  }

  #application {
    @include font-body();
  }
}
