@charset "utf-8";

@import "common/normalize";
@import "common/fontface";
@import "mobile/mobile-fonts";
@import "common/variables";

html {
  font-size: 62.5%;
  background: black;
  // overflow: hidden;

  body {
    overflow: hidden;
    background: black;
    // min-width: 95rem;
  }

  #application {
    @include font-body();
  }
}
