.UIHome__menu {
  display: none;
  font-size: 1.3rem;
  color: white;
  position: absolute;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  // top: calc(100vh - 15rem);
  top: 90vh;
}
  .UIHome__menuItem {
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.75;
    }

    &.is-active {
      cursor: inherit;
      opacity: 1;
    }
  }

  .UIHome__menuWork {
    position: absolute;
    left: 0;
  }

  .UIHome__menuExperiments {
    position: absolute;
    right: 0;
  }
