<div class="closeButton">

  <div class="js-closeButton__firstLineContainer closeButton__firstLineContainer closeButton__lineContainer">
    <div class="js-closeButton__firstLine closeButton__firstLine closeButton__line"></div>
  </div>

  <div class="js-closeButton__secondLineContainer closeButton__secondLineContainer closeButton__lineContainer">
    <div class="js-closeButton__secondLine closeButton__secondLine closeButton__line"></div>
  </div>

  <div class="js-closeButton__pointer closeButton__pointer"></div>

</div>
