// Soleil ------

@font-face {
  font-family: 'soleil';
  src: url('/fonts/soleil-regular.eot');
  src: url('/fonts/soleil-regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/soleil-regular.woff') format('woff'),
       url('/fonts/soleil-regular.ttf') format('truetype'),
       url('/fonts/soleil-regular.svg#soleilregular') format('svg');
  font-weight: 400;
}
