// Sizes
// ------
// $base-width: 192.0rem;

// $m-side-margin: 2rem;


// Colors
// ------

// Animation
// ------


// Z-index
// -------
$zindex-1: 100;
$zindex-2: 200;
$zindex-3: 300;
$zindex-4: 400;
$zindex-5: 500;
$zindex-6: 600;
$zindex-7: 700;
$zindex-8: 800;
$zindex-9: 900;
$zindex-10: 1000;
$zindex-11: 1100;
$zindex-400: 40000;
$zindex-500: 50000;
$zindex-600: 60000;