@import '~stylesheets/common/global-imports';

.loader{
  background: black;
  color: white;
  font-size: 5rem;

  left: 0;
  position: fixed;
  top: 0;
  z-index: $zindex-9;

  height: 100vh;
  width: 100vw;

  .loader__canvasContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  .loader__counter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include font-body();
    text-shadow: 1px 0px 0px #fff, -1px 0px 0px #fff, 0px -1px 0px #fff, 0px 1px 0px #fff;
    font-size: 6rem;
    line-height: 0;
    color: black;
  }
}
